<section class="home-section" id="home">
    <div class="container">
        <h1 class="visually-hidden">Emerald Expedition</h1>
        <picture>
            <source srcset="
                    /img/home/desk.png  1x,
                    /img/home/desk@2x.png 2x
                         " media="(min-width: 1439px)" />
            <source srcset="
                    /img/home/mob.png  1x,
                    /img/home/mob@2x.png 2x
                         " media="(max-width: 1438px)" />
            <img class="home-logo" src="/img/home/mob.png" alt="Emerald Expedition" loading="lazy" />
        </picture>
    </div>
</section>