body{
  background: radial-gradient(50% 50% at 50% 50%, #405841 0%, #2e433e 100%);
  font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #e8e4d5;
}
h2{
font-family: "Bree Serif", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: #d7a653;
margin-bottom: 24px;
}
@media only screen and (min-width: 1440px) {
  body{
    background-image: url("/img/desk.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
h2{
  margin-bottom: 28px;
}
}