.footer {
background: #d7a653;
}

.footer-container {
  padding-top: 46px;
  padding-bottom: 46px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  gap: 16px;
font-family: "Bree Serif", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  background: radial-gradient(50% 50% at 50% 50%, #405841 0%, #2e433e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-text {
  font-size: 12px;
  line-height: 1.5;
  background: radial-gradient(50% 50% at 50% 50%, #405841 0%, #2e433e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 1440px) {
  .footer-container {
    gap: 50px;
  }

  .footer-navigation {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-text {
    text-align: center;
  }
}